h1 {
    color: red;
}
.container {
    position: relative;
    margin: 10px 0;
    height: 400px;
    background-color: #CCFF99;
}
.content {
    background-color: #ddd;
}

#way1 .content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px;
}

#way2 .content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 240px;
    height: 240px;
}

#way3 .floater {
    float: left;
    height: 50%;
    margin-bottom: -120px;
}

#way3 .content{
    clear: both;
    height: 240px;
    width: 240px;
    position: relative;
}

#way4 {
    display: table;
}
#way4 .cell {
    display: table-cell;
    vertical-align: middle;
}


#way5 .content {
    height: 100px;
    line-height: 100px;
}